.navbar{
  background-color: rgb(26, 92, 115);
  background: linear-gradient(90deg,rgb(26, 92, 115)50%,rgb(26, 92, 115)100%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.logo{
  width: 100px;
  height: 50px;
  
}

#home{
display: inline-block;
   /* background-color: rgb(123, 100, 255);
  background: linear-gradient(90deg,rgb(99, 91, 105)50%,rgb(14, 14, 15)100%); */
  min-height: 500px;
  
} 

.form{
  background-color: rgb(26, 92, 115);
  background: linear-gradient(90deg,rgb(26, 92, 115)50%,rgb(41, 39, 33)100%);

}
.footer{
  background-color: rgb(26, 92, 115);
  background: linear-gradient(90deg,rgb(26, 92, 115)50%,rgb(41, 39, 43)100%);
}